table {
    border: 1px solid black ; 
    text-align: center;
    padding: 2px;
    margin: 5px;
}

td{
    padding: 5px;
    margin: 3px;
    border:1px solid black;
}

select{
    display: inline;
}

.slc{
    width: 200px;
}

h1{
    text-align: center;
}