<div class="container">
<h1> {{title}}</h1>
<div>
  <form #myForm="ngForm">
      <p>Name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input [(ngModel)]="firstName" name="firstName1" pattern="[a-zA-Z\'\-]*"  #firstName1="ngModel"></p>
          <p *ngIf="firstName1?.errors?.pattern" style="color:red ; font-weight:bold;">Only Letter, hypens, and apostophes!</p>
      <p>Last Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input [(ngModel)]="lastName" name="lastName1" pattern="[a-zA-Z\'\-]*" #lastName1="ngModel"></p>
          <p *ngIf="lastName1?.errors?.pattern" style="color:red ; font-weight:bold;">Only Letter, hypens, and apostophes!</p>
      <p>Street Address:
          <input type="text" required [(ngModel)]="address" name="address1" #address1="ngModel"></p>

      <p [hidden]="address1.valid || address1.pristine" *ngIf="address1?.errors?.required"
          style="color:red ; font-weight:bold;">Address is required.</p>

      <button type="submit" class="btn" [disabled]="!address1.valid"  (click)="submitAll()">Submit Address</button><br /><br />
  </form>
</div>
<div  class="slc">
  <P>Select your Item:</P>
<select [(ngModel)]="category" id="category" >
  <option value=" " disabled selected>select your Item</option>
  <option value="apple">Apples</option>
  <option value="pears">Pears</option>
  <option value="peaches">Peaches</option>
  <option value="plum">Plums</option>
  
</select>
</div>
<p>Qty:</p> <input [(ngModel)]="qty" class="slc" pattern=[0-9]* name="qty1" #qty1="ngModel" required>
<p *ngIf="qty1?.errors?.pattern" style="color:red ; font-weight:bold;">Only Numbers.</p>
<button class="btn" [disabled]="!qty1.valid" (click)="addItem()">Add Item</button><br />
<div class="row">
  <table class="striped" *ngIf="items.length > 0">
    <tr>
      <td></td>
      <td>QTY</td>
      <td>Unit Price</td>
      <td>Amount</td>
    </tr>

    <tr *ngFor="let item of items">
      <td >{{ item.item }}</td>
      <td>{{ item.qty }}</td> 
      <td>{{ item.price}}</td>
      <td>{{ item.amount }}</td>
      <input type='button' value='delete' class="btn red" (click)=removeItem(item)>
    </tr>
 
    <tr>
      <td>Subtotal</td>
      <td></td>
      <td></td>
      <td>{{totalAmount}}</td>
      
    </tr>
    <tr>
      <td>Taxes 7%</td>
      <td></td>
      <td></td>
      <td>{{this.taxes}}</td>
    </tr>
    <tr>
      <td><b>Total</b></td>
      <td></td>
      <td></td>
      <td><b>{{totalCheque}}</b></td>
    </tr>
  </table>
</div>
<div *ngIf="(customerAd == true) && (customerInfo != undefined)">
  <h2>Order for {{customerInfo.firstName}} {{customerInfo.lastName}} at {{customerInfo.address}}</h2>
</div>
</div>